html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #aaabac;
  color: #eee;
  font-family: Arial, sans-serif;
}

.app-root {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background: #585858;
  border-right: 1px solid #282828;
  display: flex;
  flex-direction: column;
}

.viewer {
  flex: 1;
  position: relative;
}

.status {
  padding: 6px 10px;
  font-size: 0.85rem;
  border-bottom: 1px solid #333;
}
